pandas==1.4.2
numpy==1.22.2
regex
scikit-learn
seaborn
scipy>=0.15.1
matplotlib
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
Flask==1.1.2
nltk==3.6.2
gunicorn==19.9.0
tensorflow==2.8.0
keras==2.8.0
Keras-Preprocessing==1.1.2
unicodecsv==0.14.1
librosa==0.9.1
glob2==0.7
requests
